@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
<<<<<<< HEAD

@media (max-width: 768px) {
    .nav-link {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
}
=======
>>>>>>> b69a3f4038e55c285e211cca2e2ec313d8bffb3b
